api/weights/colorization_release_v2.caffemodel filter=lfs diff=lfs merge=lfs -text
api/weights/*.pth filter=lfs diff=lfs merge=lfs -text
api/weights/*.onnx filter=lfs diff=lfs merge=lfs -text
api/weights/*.caffemodel filter=lfs diff=lfs merge=lfs -text
